<header>
    <nav>
        <ul>
            <li><a href="/" class="<%= path === '/home' ? 'active' : '' %>">HOME</a></li>
            <li><a href="/users" class="<%= path === '/users' ? 'active' : '' %>">USERS</a></li>
        </ul>
    </nav>
</header>